language: node_js
node_js:
- 8
cache:
  directories:
  - node_modules
after_success:
  - bash <(curl -s https://codecov.io/bash) -e TRAVIS_NODE_VERSION
notifications:
  email:
    - sway.liang@gmail.com
